.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Add this style to your component's CSS or stylesheet */
.my-custom-table tbody tr:hover td {
  background-color: lightgrey;
  cursor: pointer;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fab {
  position: fixed;
  bottom: 580px;
  right: 650px;
  background-color: lightgrey;
  /* Optional: add a smooth transition effect */
}

/* Change background color on hover */
.fab:hover {
  background-color: red !important;
}
/* .btn{
  padding:1 rem !important
} */
.logo {
  width: 15rem !important;
  hight: 15rem !important;
}
.cardWithMargin {
  margin-left: 16px;
}

.delete-icon:hover {
  color: red;
}